# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yaml]
indent_style = space
indent_size = 2

# 4 space indentation
[*.py]
# Isort definitions
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True
indent_style = space
indent_size = 4
max_line_length = 119
line_length=119
indent='    '
balanced_wrapping=True
length_sort=1
combine_as_imports = true
import_heading_future=General libraries
import_heading_localfolder=Project libraries
import_heading_thirdparty=Third party libraries
default_section=THIRDPARTY
no_lines_before=FUTURE,STDLIB
sections=FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER

# js files
[*.js]
indent_size = 2
insert_final_newline = ignore
indent_style = space
trim_trailing_whitespace = true

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = ignore

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
